// 当前代码只适用于移动端端

font-6(size)
  props = arguments
  for prop in props
    .font-6-{prop}
      font-size: prop

  @media screen and (min-width: 320px)
    for prop in props
      .font-6-{prop}
        font-size: prop * (320/375)

  @media screen and (min-width: 360px)
    for prop in props
      .font-6-{prop}
        font-size: prop * (375/375)

  @media screen and (min-width: 375px)
    for prop in props
      .font-6-{prop}
        font-size: prop

  @media screen and (min-width: 414px)
    for prop in props
      .font-6-{prop}
        font-size: prop * (414/375)

  @media screen and (min-width: 450px)
    for prop in props
      .font-6-{prop}
        font-size: prop * (450/375)

  @media screen and (min-width: 480px)
    for prop in props
      .font-6-{prop}
        font-size: prop * (480/375)

  @media screen and (min-width: 640px)
    for prop in props
      .font-6-{prop}
        font-size: prop * (640/375)

  @media screen and (min-width: 768px)
    for prop in props
      .font-6-{prop}
        font-size: prop * (768/375)
